{% extends 'layout.html.twig' %}

{% block content %}
    <h1>Liste des produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Reference</th>
                <th>Description</th>
                <th>Quantité en stock</th>
                <th>Like</th>
                <th>Dislike</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.reference }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.stock }}</td>
                <td>{{ product.likeCount }}</td>
                <td>{{ product.dislikeCount }}</td>
                <td>
                    <a href="{{ path('product_show', {'id': product.id}) }}">Voir</a>
                    <a href="{{ path('product_edit', {'id': product.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">Aucun produit trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('product_new') }}">Créer un produit</a>
{% endblock %}
